[submodule "rust-algorithms"]
	path = rust-algorithms
	url = https://github.com/adebola-xyz/rust-algorithms

[submodule "javascript-algorithms"]
	path = javascript-algorithms
	url = https://github.com/adebola-xyz/javascript-algorithms
